/* GENERAL START */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:italic,300,400,500,700italic&display=swap&subser=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto:700,700italic&display=swap&subser=cyrillic-ext");
@import "fonts";

body {
  background-color: #EBDDD4;
  font-family: Sourse Sans Pro;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

._container {
  max-width: 1432px;
  margin: 0 auto;
}

@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?lqhs86');
  src: url('fonts/icomoon.eot?lqhs86#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lqhs86') format('truetype'),
    url('fonts/icomoon.woff?lqhs86') format('woff'),
    url('fonts/icomoon.svg?lqhs86#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Eye:before {
  content: "\e900";
  color: #7b4218;
}

.icon-GB .path1:before {
  content: "\e901";
  color: rgb(238, 238, 238);
}

.icon-GB .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(0, 82, 180);
}

.icon-GB .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(216, 0, 39);
}

.icon-Logo:before {
  content: "\e904";
}

.icon-Menu:before {
  content: "\e905";
  color: #7b4218;
}

.icon-UA .path1:before {
  content: "\e906";
  color: rgb(255, 230, 46);
}

.icon-UA .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(66, 139, 193);
}

/* GENERAL END */

/* HEADER START */
.header__content {
  max-width: 1432px;
  margin: 0 auto;
}

.menu-icon {
  display: none;
}

.menu__body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 15px;
  height: 115px;
}

.menu__body>div {
  width: 33%;
}

.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.menu__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}

.menu__list>li {
  margin: 0px 0px 0px 19px;
}

.menu__link {
  font-size: 20px;
  font-weight: 500;
  color: black;
  transition: color 0.3s ease 0s;
  text-decoration: none;
}

.menu__link:hover {
  color: #7B4218;
}

/* HEADER END */


/* START START */
.button-div {
  display: flex;
  justify-content: flex-end;
}

.btn {
  letter-spacing: 0.05em;
  line-height: 44/19 * 100%;
  background: #7B4218;
  font-family: 'Source Sans Pro';
  height: 44px;
  padding: 0px 20px;
  display: inline-flex;
  font-weight: 700;
  font-size: 15px;
  color: #DECFC4;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.3s ease 0s;
}

.btn:hover {
  background-color: #845839;
}

.start {
  margin-top: 60px;
  padding: 0px 56px;
}

/* START END */


/* HELLO START */
.hello__content {
  margin: 20px 0px;
}

.hello__title {
  text-align: right;
  font-family: 'Source Sans Pro';
  text-transform: uppercase;
  font-size: 30px;
  line-height: 38/30 *100%;
  font-weight: 300px;
  letter-spacing: 0.05em;
  color: #000000;
}

.hello__text {
  font-family: 'Source Sans Pro';
  font-style: bold;
  font-weight: 700;
  font-size: 15px;
  line-height: 19/15*100%;
  text-align: right;
  letter-spacing: 0.05em;
  color: #000000;
}

.start__container {
  display: flex;
  justify-content: space-evenly;
}

.hello__avatar>img {
  margin: 0px 32px;
}

.align-left {
  display: flex;
  align-items: start;
}

.language__list {
  display: flex;
  justify-content: flex-start;
  height: 85px;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.language__list>li {
  margin: 0px 14px 0px 0px;
}

.language__link {
  font-family: 'Source Sans Pro';
  font-size: 15px;
  font-weight: 500;
  color: black;
  transition: color 0.3s ease 0s;
  text-decoration: none;
}

.language__link:hover {
  color: #7B4218;
}

/* HELLO END */

/* ABOUT START */
.about {
  margin-bottom: 30px;
  padding: 0px 56px;
}

.about-posts__container {
  padding: 0px 107px;
}

.about-posts__column {
  display: flex;
  justify-content: space-between;
}

.about-posts__item {
  text-align: center;
  margin: 5px;
}

.about-posts__title {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 700;
  color: black;
}

.about-post__title {
  font-family: 'Source Sans Pro';
  font-size: 25px;
  font-weight: 700;
  color: black;
  margin: 0;
}

.about-post__text {
  font-family: 'Source Sans Pro';
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  color: black;
}

/* ABOUT END */

/* CATALOG START */
.catalog {
  padding-top: 20px;
}

.catalog__container {
  padding: 0px 107px;
}

.catalog__column {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
}

.catalog__item {
  text-align: center;
}

.catalog__title {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 700;
  color: black;
}

.image-container {
  box-sizing: border-box;
  width: 333px;
  height: 236px;

  background: radial-gradient(139.49% 144.28% at 0% 6.36%, #8B786B 0%, rgba(139, 120, 107, 0) 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  ;
  backdrop-filter: blur(35px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 25px;
}

.catalog__text {
  font-family: 'Source Sans Pro';
  font-size: 30px;
  font-weight: 300;
  line-height: 38px;
  margin-top: 20px;
  color: black;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.catalog__item>a {
  text-decoration: none;
}

.catalog__item:hover img {
  transform: scale(1.1);
}

.image-container>img {
  transition: transform 0.25s;
}

.catalog__item:hover .catalog__text {
  color: #7B4218;
}

/* CATALOG END */

/* FORM START */
.form {
  height: 300px;
  padding-bottom: 225px;
}

.form__container {
  padding: 0px 107px;
  padding-top: 80px;
}

.form__column {
  display: flex;
  background: rgba(123, 66, 24, 0.65);
}

.title_container {
  width: 50%;
  align-self: center;
}

.title_block {
  position: relative;
  left: 25%;
}

.photo__container {
  width: 50%;
}

.photo__container>img {
  width: 100%;
  height: 100%;
}

.form__title {
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #DECFC4;
}

/* FORM END */

/* INPUT START */
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 80%;
}

.form__field {
  font-family: inherit;
  border: 0;
  border-bottom: 2px solid #DECFC4;
  outline: 0;
  font-size: 1.2rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown~.form__label {
  font-size: 1.2rem;
  cursor: text;
  top: 20px;
}

.form__label {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  color: #DECFC4;
  ;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 400;
  border-width: 3px;
  border-image: #DECFC4;
  border-image-slice: 1;
}

.form__field:focus~.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #DECFC4;
  font-weight: 400;
}

/* INPUT END */

/* FOOTER START */
footer {
  height: 320px;
  width: 100%;
  background-color: #7B4218;
  ;
}

.footer__content {
  max-width: 1432px;
  margin: 0px auto;
}

.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  padding-top: 50px;
}

.footer__body>.footer__list {
  width: 25%;
}

.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.footer__list {
  display: inline;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 25px;
  height: 115px;
  list-style-type: none;
}

.language__list>div {
  margin-bottom: 20px;
}

.footer__list>li {
  margin: 0px 0px 0px 19px;
}

.footer__list {
  transition: transform 0.5s;
}

.footer__link {
  font-family: 'Source Sans Pro';
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
  text-decoration: none;
}

.footer__link:hover {
  color: #e3cebd;
}

.contact__title {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  margin: 0px;
  color: #fff;
}

.contact__text {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #fff;
}

.footer__btn {
  position: relative;
  margin-top: 10px;
  margin-left: 15%;
  letter-spacing: 0.05em;
  line-height: 44/19 * 100%;
  background: #DECFC4;
  font-family: 'Source Sans Pro';
  height: 44px;
  padding: 0px 20px;
  display: inline-flex;
  font-weight: 700;
  font-size: 15px;
  color: #000000;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.3s ease 0s;
}

.footer__btn:hover {
  background-color: #a18672;
  color: #fff;
}

.image:hover img {
  transform: scale(1.1);
}

.image>img {
  transition: transform 0.25s;
}

/* FOOTER END */

@media only screen and (max-width: 1250px) {
  .photo_2 {
    display: none;
  }

  .hello__avatar>img {
    margin: 0;
    width: 120%;
  }

  .image-container {
    box-sizing: border-box;
    width: 240px;
    height: 140px;
    padding: 5px;
  }

  .image-container>img {
    width: 200px;
    height: 130px;
  }

  .title_block {
    left: 15%;
  }

  .form__title {
    font-size: 20px;
    width: 190%;
  }

  .form__group {
    margin-top: 0;
  }

  .language__list>li {
    margin: 0px 8px 0px 0px;
  }

  .catalog__column {
    justify-content: space-around;
  }

  .form {
    padding-bottom: 120px;
  }
}

@media only screen and (max-width:950px) {

  .menu__list {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .hello__avatar>img {
    margin: 20px;
    width: 100%;
  }

  .catalog__column {
    flex-direction: column;
  }

  .title_block {
    left: 5%;
  }

  .form__title {
    font-size: 18px;
    line-height: 1;
  }

  .about-posts__container {
    padding: 0px 30px;
  }

  .image-container {
    width: 100%;
  }

  .catalog__text {
    margin-top: 3px;
    margin-bottom: 15px;
  }

  .form {
    padding-bottom: 60px;
  }
}

@media only screen and (max-width:800px) {

  .menu__body {
    height: 95px;
  }

  .start {
    margin-top: 25px;
    padding: 0px 36px;
  }

  .hello__avatar>img {
    margin: 20px;
    width: 70%;
  }

  .title_block {
    left: 5%;
  }

  .form__title {
    font-size: 20px;
  }

  .title_block {
    padding: 0;
  }

  .hello__title {
    font-size: 24px;
  }

  .hello__text {
    font-size: 10px;
  }

  .btn {
    font-size: 12px;
    padding: 0 10px;
    height: 30px;
  }

  .language__list {
    height: 40px;
  }

  .about-posts__container {
    padding: 0;
  }

  .about-post__title {
    font-size: 20px;
  }

  .about-post__text {
    font-size: 12px;
    line-height: 12px;
  }

  .photo__container {
    display: none;
  }

  .form__column {
    height: 160px;
  }

  .form__field {
    font-size: 1.1rem;
  }

  .form__field:placeholder-shown~.form__label {
    font-size: 1.1rem;
  }
  .language__list{
    display: none;
  }
  .footer__list>li {
    margin: 0;
    height: 30px;
}

.form {
  height: 200px;
}
footer {
  height: 270px;
}
}

@media only screen and (max-width:600px) {

  .menu__body {
    height: 75px;
  }

  .button-div {
    justify-content: center;
  }

  .menu-icon>img {
    width: 30px;
    height: 30px;
  }

  .start {
    margin-top: 20px;
    padding: 0px 26px;
  }

  .start__container {
    flex-direction: column-reverse;
  }

  .hello__title,
  .hello__text {
    text-align: center;
  }

  .hello__avatar {
    display: flex;
    justify-content: space-around;
  }

  .hello__avatar>img {
    margin: 0;
    width: 45%;
  }

  .photo_2 {
    display: inline;
  }

  .language__list>li {
    margin: 0px 5px 0px 0px;
  }

  .about-posts__title,
  .catalog__title {
    font-size: 22px;
    margin: 5px 0px;
  }

  .about-posts__header,
  .catalog__header {
    display: flex;
    justify-content: center;
  }

  .about-posts__column {
    justify-content: safe;
    flex-wrap: wrap;
  }

  .catalog__container,
  .form__container {
    padding: 0px 56px;
  }

  .catalog__text {
    font-size: 20px;
  }

  .form__field {
    font-size: 0.9rem;
  }

  .form__field:placeholder-shown~.form__label {
    font-size: 0.9rem;
  }

  .form__title {
    font-size: 20px;
    text-align: center;
  }

  .form {
    padding-bottom: 0px;
  }
  .image>img {
    width: 80%;
    height: 80%;
}
.footer__btn {
  margin-top: 5px;
  height: 33px;
  padding: 0px 12px;
  font-size: 17px;
}

.contact__text {
  margin: 8px;
}
.footer__body{
  justify-content: space-around;
}

.tovars{
  display: none;
}
footer {
  height: 220px;
}
}

@media only screen and (max-width:400px) {

  .menu__body {
    height: 45px;
  }

  .logo-icon>img {
    width: 120px;
    height: 25px;
  }

  .start {
    margin-top: 15px;
    padding: 0px 13px;
  }

  .hello__title {
    margin: 8px 0px;
    font-size: 18px;
  }

  .hello__text {
    font-size: 8px;
  }

  .btn {
    font-size: 8px;
    padding: 0 7px;
    height: 20px;
  }

  .hello__content {
    margin: 7px 0px;
  }

  .language__link {
    font-size: 9px;
  }

  .about-posts__title {
    font-size: 18px;
    margin: 2px 0px;
  }

  .form__field {
    font-size: 0.7rem;
  }

  .form__field:placeholder-shown~.form__label {
    font-size: 0.7rem;
  }

  .form__title {
    font-size: 17px;
  }
  .footer__body{
    justify-content: center;
  }
  .contacts{
    display: none;
  }

  footer {
    height: 180px;
  }
}